{% extends "../base.html" %}

{% block title %}
    Account details
{% endblock title %}

{% block content %}

    <div class="left-timeline col-5">
        <img src='{{ profile.profile_picture.url }}' width="150" style="float: left; margin-right:50px">

        <p>{{ profile.user.first_name}} {{ profile.user.last_name }}</p>
        <p>Date of birth: {{ profile.date_of_birth }}</p>
        <p>About: {{ profile.about }}</p>
        <form method="POST">
            {% csrf_token %}
            {% if owner %}
            <input type='submit' class='btn btn-outline-success profile-buttons' name='btn' value="Change details">
            {% else %}
            {% if is_friend %}
            <input type='submit' class='btn btn-outline-success profile-buttons' name='btn' value="Delete friend">
            <input type='submit' class='btn btn-outline-success profile-buttons' name='btn' value="Message">
            {% else %}
            <input type='submit' class='btn btn-outline-success profile-buttons' name='btn' value="Add friend">
            {% endif %}
            
        {% endif %}
        </form>
        
    </div>
    <div class="right-timeline col-7">
        {% for post in posts %}
                  <div class="post">
                        <img src="{{ post.owner.profile.profile_picture.url }}" width=50 style='max-height:75px; border-radius: 20px; margin-right:1rem;'>
                        {{ post.owner.get_full_name }}
                        <span style="float: right; text-align: right;">{{ post.date|date:'H:i' }}
                        
                        <br>
                              {{ post.date|date:'d/m/Y' }}</span>                      
                        
                                    
                        <br>
                        <p style='margin-top: 1.5rem;'>{{ post.body }}</p>
                        {% if post.image.name != '' %}
                        <p><img src="{{ post.image.url }}" class='post-img'><p>                    
                        {% endif %}
                        
                  <p class='post-white-details'>
                        <span style='text-align: left;'>{{ post.likes.count }} 👍</span>
                        <span style='margin-left: 2rem;'>{{ post.comment.all.count }} 💬</span>
                        <span style='float: right;'><a href="{% url 'user_interface:post-details' post.slug %}">See details</a></span>
                  </p>

                  </div> 
        {% endfor %}
    </div>
{% endblock content %}