{% extends "../base.html" %}

{% block title %}
    Account details
{% endblock title %}

{% block content %}

    <div class="left-timeline col-5">
        <img src='{{ profile.profile_picture.url }}' width="150" style="float: left; margin-right:50px">

        <p>{{ profile.user.first_name}} {{ profile.user.last_name }}</p>
        <p>Date of birth: {{ profile.date_of_birth }}</p>
        <p>About: {{ profile.about }}</p>
        <form method="POST">
            {% csrf_token %}
            {% if owner %}
            <input type='submit' class='btn btn-outline-success profile-buttons' name='btn' value="Change details">
            {% else %}
            {% if is_friend %}
            <input type='submit' class='btn btn-outline-success profile-buttons' name='btn' value="Delete friend">
            <input type='submit' class='btn btn-outline-success profile-buttons' name='btn' value="Message">
            {% else %}
            <input type='submit' class='btn btn-outline-success profile-buttons' name='btn' value="Add friend">
            {% endif %}
            
        {% endif %}
        </form>
        
    </div>
    <div class="right-timeline col-7">
        {% for post in posts %}
            <div class="post">
                <div>
                    {{ post.owner.first_name }} {{ post.owner.last_name }} 
                    <span style="float: right;">{{ post.date|date:'H:m' }}</span>
                
                    <p>
                        <span style="float: right;">{{ post.date|date:'d/m/Y' }}</span>
                    </p>  
                </div>            
                <br>
                <p>{{ post.body }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}