{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Account settings 
{% endblock title %}

{% block content %}
    <p>Make some changes as you wish</p>
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    {{ img_form|crispy }}
    <input type="submit" value="Apply" class="btn btn-outline-success my-2 mr-4">
    <input type="submit" value="Change password" class="btn btn-outline-success my-2 mr-4">
    <input type="submit" value="Change e-mail address" class="btn btn-outline-success my-2 mr-4">
    <input type="submit" value="Delete account" class="btn btn-outline-danger my-2 mr-4"> <!-- dodać name -->

    </form>

{% endblock content %}  