{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Timeline
{% endblock title %}

{% block additional_nav_item %}
<form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'user_interface:search' %}">
      <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search">
      <input class='btn btn-outline-success my-2 my-sm-0' type="submit" value="Search">
</form>
{% endblock additional_nav_item %}

{% block content %}
      <div class="left-timeline col-5">
            Share something with your friends:
            <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <input type="submit" value="Share" class='btn btn-outline-success' style='width:100%;'>
            </form>
      </div>

      <div class="right-timeline col-7">
            {% for posts in posts_obj %}
                  
                  {% for post in posts %}
                  <div class="post">
                        <img src="{{ post.owner.profile.profile_picture.url }}" width=50 style='max-height:75px; border-radius: 20px; margin-right:1rem;'>
                        {{ post.owner.get_full_name }}{% if post.owner == request.user %}⭐{% endif %}
                        <span style="float: right; text-align: right;">{{ post.date|date:'H:i' }}
                        
                        <br>
                              {{ post.date|date:'d/m/Y' }}</span>                      
                        
                                    
                        <br>
                        <p style='margin-top: 1.5rem;'>{{ post.body }}</p>
                        {% if post.image.name != '' %}
                        <p><img src="{{ post.image.url }}" class='post-img col-12'><p>                    
                        {% endif %}
                        
                  <p class='post-white-details'>
                        <span style='text-align: left;'>{{ post.likes.count }} 👍</span>
                        <span style='margin-left: 2rem;'>{{ post.comment.all.count }} 💬</span>
                        <span style='float: right;'><a href="{% url 'user_interface:post-details' post.slug %}">See details</a></span>
                  </p>

                  </div> 
                  {% endfor %}
                
            {% endfor %}
      </div>
{% endblock content %}